<div class="container-fluid">
    <div>
        <div class="row">
            <div class="r1 col-lg-3 col-md-4 col-sm-6">
                <app-card>
                    <div class="document-card-img"></div>
                    <h3>Email</h3>
                </app-card>
            </div>
            <div class="r1 col-lg-3 col-md-4 col-sm-6">
                <app-card>
                    <div class="document-card-img"></div>
                    <h3>Meeting</h3>
                </app-card>
            </div>
            <div class="r1 col-lg-3 col-md-4 col-sm-6">
                <app-card>
                    <div class="document-card-img"></div>
                    <h3>Quotation</h3>
                </app-card>
            </div>
            <div class="r1 col-lg-3 col-md-4 col-sm-6">
                <app-card>
                    <div class="document-card-img"></div>
                    <h3>Invoice</h3>
                </app-card>
            </div>
        </div>
        <div class="row">
            <div class="r2 col-lg-3 col-md-4 col-sm-6">
                <app-card>
                    <div class="document-card-img"></div>
                    <h3>Drive Upload</h3>
                </app-card>
            </div>
            <div class="r2 col-lg-3 col-md-4 col-sm-6">
                <app-card>
                    <div class="document-card-img"></div>
                    <h3>File Upload</h3>
                </app-card>
            </div>
            <div class="r2 col-lg-3 col-md-4 col-sm-6">
                <app-card>
                    <div class="document-card-img"></div>
                    <h3>Meeting Minutes</h3>
                </app-card>
            </div>
            <div class="r2 col-lg-3 col-md-4 col-sm-6">
                <app-card>
                    <div class="document-card-img"></div>
                    <h3>Notes</h3>
                </app-card>
            </div>
        </div>
    </div>
</div>