* div {
    padding: 10px;
}

.meeting-minutes {
    border: 1px solid #ffffff;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
}

.header,
.footer {
    text-align: center;
}

.header h2 {
    margin: 0;
}

.body h3 {
    margin-top: 20px;
}

.footer p,
.footer a {
    margin: 0;
}

:host ::ng-deep .content-editor {
    height: 20vh !important;
}
