<div class="login-background">
    <app-card>
        <h1 class="text-center">Login</h1>
        <form (ngSubmit)="Submit()">
            <div class="mb-3 row">
                <label for="email" class="form-label">Email address</label>
                <div>
                    <input type="email" class="form-control" id="email">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="form-label">Password</label>
                <div>
                    <input type="password" class="form-control" id="password">
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </app-card>
</div>
