<div class="container-fluid">
    <div>
        <div id="carouselExampleAutoplaying" class="row carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carosal-img"></div>
                </div>
                <div class="carousel-item">
                    <div class="carosal-img"></div>
                </div>
                <div class="carousel-item">
                    <div class="carosal-img"></div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h2>Meeting Invites</h2>
                <div class="row">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Meeting Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Daily Standup</th>
                            <td>2024-06-22</td>
                            <td>8.30</td>
                            <td>
                                <button type="button" class="btn btn-primary me-2">Accept</button>
                                <button type="button" class="btn btn-danger">Decline</button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Project Discussion</th>
                            <td>2024-06-22</td>
                            <td>10.00</td>
                            <td>
                                <button type="button" class="btn btn-primary me-2">Accept</button>
                                <button type="button" class="btn btn-danger">Decline</button>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">Client Demo</th>
                            <td>2024-06-22</td>
                            <td>15.30</td>
                            <td>
                                <button type="button" class="btn btn-primary me-2">Accept</button>
                                <button type="button" class="btn btn-danger">Decline</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h2>hiii</h2>
            </div>
        </div>
    </div>
</div>